body {
  margin: 0;
}

body {
    background-image: url(background.png);
    min-height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
}

h1 {
  color: rgb(31, 24, 24);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


.canva {
  position: absolute;
  top: 10;
  min-width: 100%;
}